# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.Python

# Secrets – SOHA ne commitold!
.env
*.env
!.env.example

# Naplók
logs/
rust_bot/bot.log
rust_bot/bot.pid

# IDE
.vscode/
.idea/
.DS_Store

# Build
build/
dist/
/rust_bot/target/
rust_bot/Cargo.lock
