# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.Python

# Secrets – SOHA ne commitold!
.env
*.env
!.env.example

# Naplók
logs/

# IDE
.vscode/
.idea/
.DS_Store

# Build
build/
dist/
